[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
django = "==2.1.7"
gunicorn = "==19.9.0"
whitenoise = "==3.3.1"
celery = "*"

[requires]
python_version = "3.7"
