body, html {
	font-family: 'Open Sans', serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h1, h2, h3, h4 {
	font-family: 'Roboto', sans-serif;
}
h2 {
	font-weight: 280;
	font-size: 30px;
	color: #333;
	text-transform: uppercase;
	position: relative;
	margin-top: 20px;
	margin-bottom: 15px;
	padding-bottom: 10px;
}
h2::after {
	position: absolute;
	content: "";
	background: #d43031;
	height: 2px;

	width: 90px;
	bottom: 0;
	margin-left: -45px;
	left: 50%;
}
h3 {
	font-size: 24px;
	font-weight: 300;
	color: #333;
}
h4 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/fin-small.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.4);
}
.intro h1 {
	font-family: 'Oswald', cursive;
	color: #fff;
	font-size: 6em;
	font-weight: 300;
	margin-top: 0;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin-top: 150px;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
}
/* About Section */
#about {
	padding: 0;
	background: #f6f6f6;
}
#about .about-text {
	padding: 25px 0;
}
#about p {
	line-height: 26px;
	font-size: 16px;
	margin: 15px 0 15px;
}
/* Stocks section */
#stocks .chart {
	margin: 15px 0 15px;
}
#stocks .container .chart:hover {
    transform: scale(1.05);
    transition-timing-function: ease-in;
	transition: 0.3s;
	margin: 15px 0 15px;
}
/* News section */
#news .item {
	margin: 20px 0 20px;
}
#news .container .item:hover {
	transform: scale(1.03);
    transition-timing-function: ease-in;
	transition: 0.3s;
	margin: 20px 0 20px;
}
#news p {
	font-size: 14px;
	color: #262626;
}
#news a {
	color: #262626
}
/* Footer Section*/
#footer {
	background: #262626;
	padding: 40px 0 20px 0;
	width:100%;
}
#footer p {
	font-size: 14px;
	color: #666;
}
#footer a {
	color: #999;
}
#footer a:hover {
	color: #eee;
}
/* Share page header */
#share_header {
	background: #fff;
	padding: 20px 10px 10px 10px;
	width:90%;
}
#share_header .container .item:hover {
	opacity: 0.5;
}