{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EasyStocks</title>
  <meta name="description" content="The project for market trends visualization">
  <meta name="author" content="ivan">
  <!-- Favicons -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <!-- Yandex.Metrika counter -->
  <meta name="yandex-verification" content="4b8c05dffb8c79db" />
  <script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(53274031, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/53274031" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
  <!-- Google -->
  <meta name="google-site-verification" content="-ppnG-4W_XI-BeCO8A3X1h0gHNriVbMAb2YTDsOhfHY" />
  <!-- /Google-->
</head>
<body>
  <!-- Header -->
  <header id="header">
    <div class="intro">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="intro-text">
                <h1>EasyStocks</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About -->
  <div id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="about-text">
            <h3 class="text-center">Сервис для инвесторов</h3>
            <p class="text-center">Поможем сформировать инвестиционный портфель <br> Напомним про важные события на фондовом и валютном рынке </p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h3 class="text-center">Статистика</h3>
            {% block statistics %}
              <p class="text-center">Количество акций: {{ share_list|length }} <br> Количество валютных пар: {{ currency_list|length }}
              </p>
            {% endblock statistics %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Stocks -->
  <div id="stocks" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>Акции 🇺🇸</h2>
      </div>
      <div class="container">
        {% block content %}
          <div class="row">
            {% for share in share_usa|slice:":6" %}
            <a href="{% url 'share_detail' share.pk %}">
              <div class="col-xs-12 col-sm-6 col-md-4 chart">
                  <h3 class="text-center">{{ share.title }}</h3>
                  <img src="{% get_static_prefix %}img/stocks/{{ share.ticker }}.png" class="img-responsive center-block" alt="">
              </div>
            </a>
            {% endfor %}
          </div>
        {% endblock content %}
    </div>
  </div>
  <!-- Stocks Russia -->
  <div id="stocks" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>Акции 🇷🇺</h2>
      </div>
      <div class="container">
        {% block content_rus %}
          <div class="row">
            {% for share in share_rus|slice:":6" %}
            <a href="{% url 'share_detail' share.pk %}">
              <div class="col-xs-12 col-sm-6 col-md-4 chart">
                <h3 class="text-center">{{ share.title }}</h3>
                <img src="{% get_static_prefix %}img/stocks/{{ share.ticker }}.png" class="img-responsive center-block" alt="">
              </div>
            </a>
            {% endfor %}
          </div>
        {% endblock content_rus %}
    </div>
  </div>
  <!-- FX -->
  <div id="fx" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>FX</h2>
      </div>
      <div class="row">
        <div class="owl-carousel owl-theme">
        {% for fx_item in currency_list %}
          <div class="item">
            <h3 class="text-center">{{ fx_item.title }}</h3>
            <img src="{% get_static_prefix %}img/currency/{{ fx_item.ticker }}.png" class="img-responsive" alt="">
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div id="overall" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>Итоги</h2>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div id="footer">
    <div class="container text-center">
      <div class="col-xs-12">
        <p>&copy; 2019 EasyStocks (airvan21)</p>
      </div>
    </div>
  </div>
</body>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</html>