{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
  <nav id="navigation" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#share_detail-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="share_detail-collapse">
        <ul class="nav navbar-nav navbar-left">
          <a class="navbar-brand" href="{% url 'home' %}">EasyStocks</a>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{% url 'logout' %}">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="text-center" id="personal-sections">
    <div class="container">
      <h2>Личный кабинет</h2>
      <div class="row center">
        <div class="box">
          <div class="card col-xs-12 col-sm-6 col-md-4">
            <div class="imgBx">
              <img src="{% static 'img/portfolio-small.jpg' %}" class="img-responsive">
            </div>
            <div class="details">
              <h2>Портфель</h2>
            </div>
          </div>
          <div class="card col-xs-12 col-sm-6 col-md-4">
            <div class="imgBx">
              <img src="{% static 'img/trade-small.jpg' %}" class="img-responsive">
            </div>
            <div class="details">
              <h2>Сделки</h2>
            </div>
          </div>
          <div class="card col-xs-12 col-sm-6 col-md-4">
            <div class="imgBx">
              <img src="{% static 'img/dividends.jpeg' %}" class="img-responsive">
            </div>
            <div class="details">
              <h2>Дивиденды</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" id="personal-portfolio">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Тикер</th>
            <th scope="col">Название</th>
            <th scope="col">Страна</th>
            <th scope="col">Сектор</th>
          </tr>
        </thead>
        <tbody>
          {% block personal_deals %}
            {% for share in portfolio_shares %}
              <tr>
                <td>{{ share.ticker }}</td>
                <td>{{ share.title }}</td>
                <td>{{ share.countryCode }}</td>
                <td>{{ share.sector }}</td>
              </tr>
            {% endfor %}
          {% endblock personal_deals %}
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock content %}