{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EasyStocks</title>
  <meta name="description" content="The project for market trends visualization">
  <meta name="author" content="ivan">
  <!-- Favicons -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">
  <!-- Stylesheet -->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
  <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
</head>
<body>
  <div id="share_header">
    <div class="container">
      <div class="row">
        <a href="{% url 'home' %}">
          <div class="col-xs-12 col-md-3 item">
            <img class="pull-left" src="{% get_static_prefix %}img/candlestick-logo.png"></img>
            <h3 class="pull-left">EasyStocks</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="text-center">
    {% block share_name %}
      <h2>{{ share.title }}</h2>
    {% endblock share_name %}
  </div>
  <div class="text-center">
    <div class="container">
      <div class="row">
        {% block datachart %}
          <canvas id="line-chart"></canvas>
          <script>
            var chart = new Chart(document.getElementById("line-chart"), {
              type: 'line',
              data: {
                labels: [{% for date in dates %}"{{ date }}",{% endfor %}],
                datasets: [{ 
                    data: [{% for data in chart_data %}{{ data.close_price }},{% endfor %}],
                    label: {% block chart_info %}"{{ share.title }}"{% endblock chart_info %},
                    borderColor: "#3e95cd",
                    fill: false
                  },
                ]
              },
              options: {
                title: {
                  display: false,
                  responsive: true,
                  text: 'Stock prices'
                },
                scales: {
                  xAxes: [{
                    type: 'time',
                    time: {
                      displayFormats: {
                        'millisecond': 'MMM DD',
                        'second': 'MMM DD',
                        'minute': 'MMM DD',
                        'hour': 'MMM DD',
                        'day': 'MMM DD',
                        'week': 'MMM DD',
                        'month': 'MMM DD',
                        'quarter': 'MMM DD',
                        'year': 'MMM DD',
                      }
                    }
                  }],
                },
              }
            });
          </script>
        {% endblock datachart %}
      </div>
    </div>
  </div>
  <div id="about">
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            {% block share_description %}
              <h3>О компании</h3>
              <p class="text-center">{{ share.text }}</p>
            {% endblock share_description %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="news" class="container" >
    <div class="text-center">
      <h2>Новости</h2>
    </div>
    <div class="container">
      {% block newsblock %}
        <div class="row">
          {% for article in news|slice:":3" %}
            <a href="{{ article.url }}">
              <div class="col-xs-12 col-md-4 item">
                <h3 class="text-center">{{ article.title }}</h3>
                <img src="{{ article.url_to_image }}" class="img-responsive center-block">
                <br/>
                <p>{{ article.description }}</p>
              </div>
            </a>
          {% endfor %}
        </div>
        <div class="row">
          {% for article in news|slice:"3:6" %}
            <a href="{{ article.url }}">
              <div class="col-xs-12 col-md-4 item">
                <h3 class="text-center">{{ article.title }}</h3>
                <img src="{{ article.url_to_image }}" class="img-responsive center-block">
                <br/>
                <p>{{ article.description }}</p>
              </div>
            </a>
          {% endfor %}
        </div>
      {% endblock newsblock %}
    </div>
  </div>
  <div id="footer">
    <div class="container text-center">
      <div class="col-xs-12">
        <p>&copy; 2019 EasyStocks (airvan21)</p>
        <p>News provider <a href="https://newsapi.org/">News API</a>
      </div>
    </div>
  </div>
</body>
</html>